{include  file="./public/common/top.html"/}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="__ROOT__/public/static/css/treat.css" rel="stylesheet" type="text/css">
<title>Insert title here</title>
</head>

<body>
<center>

<div id="info_content">
	<div id="info_block">
		<div>姓名:</div>
		<div><input type="text" name="text" value="张三"></div>
	</div>
	<div id="info_block">
		<div>性别:</div>
		<div><input type="text" name="text" value="男"></div>
	</div>
	<div id="info_block">
		<div>电话号码:</div>
		<div><input type="text" name="text" value="13812345678"></div>
	</div>
	<div id="info_block">
		<div>病案号:</div>
		<div><input type="text" name="text" value="13812345678"></div>
	</div>
	<div id="info_long_block">
		<div>住址:</div>
		<div><input type="text" name="text" value="13812345678"></div>
	</div>
	<div id="symptom_block">
		<div>症状:</div>
		<div><input type="text" name="text" value="13812345678"></div>
	</div>
</div>


<div>
<h1>处方</h1>
</div>


</center>

</body>

</html>