@CHARSET "UTF-8";
body{
	margin:0px;
	padding:0px;
	font-family: "微软雅黑";
	font-size: 12px;
	color:#666666;
}
#info_content{
	width:995px;
	height:200px;
	border: 2px solid #D4D4D4;
	margin-top:10px;
}
#info_content #info_block{
	width:300px;
	height:80px;
	float:left;
	font-size: 22px;
	text-align: left;
	margin-left:10px;
	margin-top:10px;
}
#info_content #info_block div{
	width:290px;
	height:40px;
}
#info_content #info_block div input{
	width:290px;
	height:35px;
	font-size: 22px;
}
#info_content #info_long_block{
	width:600px;
	height:80px;
	float:left;
	font-size: 22px;
	text-align: left;
	margin-left:10px;
	margin-top:10px;
}
#info_content #info_long_block div{
	width:600px;
	height:40px;
}
#info_content #info_long_block div input{
	width:600px;
	height:35px;
	font-size: 22px;
}
#book_block{
	width:995px;
	height:200px;
	border: 2px solid #D4D4D4;
	margin-top:10px;
}
#book_block #info_block{
	width:300px;
	height:80px;
	float:left;
	font-size: 22px;
	text-align: left;
	margin-left:10px;
	margin-top:10px;
}
#book_block #info_block div{
	width:290px;
	height:40px;
}
#book_block #info_block div input{
	width:290px;
	height:35px;
	font-size: 22px;
}
#submit_btn{
	width:999px;
	height:30px;
	margin-top:10px;
}
#submit_btn button{
	width:120px;
	height:40px;
	font-size:20px;
	color:#fff;
	background-color:#1E90FF;
	border: none;
	border-radius:10px;
}
