@CHARSET "UTF-8";
    .card {
    	width:60%;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 20px;
        cursor: pointer;
        position: relative;
    	border-radius:10px;
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card:hover {
        background-color: #f4f4f4;
    }
    
    .card-details {
        display: none;
		margin-top: 10px;
		padding: 10px;
		background-color: #f4f4f4;
		border: 1px solid #ccc;
		border-radius: 10px;
    }
    
    .card.active .card-details {
        display: block;
    }
    
    .status {
    	width:160px;
        position:absolute;
        top: 0px;
        right: 0px;
        padding: 5px 10px;
        border-radius: 0 10px 0 20px;
        color: #fff;
        font-weight: bold;
    }
    
    .paid {
        background-color: #4CAF50;
    }
    
    .pending {
        background-color: #FF9800;
    }
    
    .overdue {
        background-color: #F44336;
    }
    .payment-list{
		border: 2px solid #D4D4D4;
		width:999px;
		margin-top:20px;
    }
    #payNo{
		width:90%;
    	text-align:left;
    	position:absolute;
		top: 0px;
    	left: 0px;
    	padding: 5px 10px;
    	border-radius: 10px 0 0 0;
    	color: #fff;
    	font-weight: bold;
		background-color:#1E90FF;
    }