@CHARSET "UTF-8";
body{
	margin:0px;
	padding:0px;
	font-family: "微软雅黑";
	font-size: 12px;
	color:#666666;
}
#info_content{
	width:995px;
	height:300px;
	border: 2px solid #D4D4D4;
	margin-top:10px;
}
#info_content #info_block{
	width:300px;
	height:80px;
	float:left;
	font-size: 20px;
	text-align: left;
	margin-left:10px;
	margin-top:10px;
}
#info_content #info_block div{
	width:290px;
	height:40px;
}
#info_content #info_block div input{
	width:290px;
	height:35px;
	font-size: 20px;
}
#info_content #info_long_block{
	width:600px;
	height:80px;
	float:left;
	font-size: 20px;
	text-align: left;
	margin-left:10px;
	margin-top:10px;
}
#info_content #info_long_block div{
	width:600px;
	height:40px;
}
#info_content #info_long_block div input{
	width:600px;
	height:35px;
	font-size: 20px;
}
#info_content #symptom_block{
	width:980px;
	height:100px;
	float:left;
	font-size: 20px;
	text-align: left;
	margin-left:10px;
	margin-top:10px;
}
#info_content #symptom_block div{
	width:910px;
	height:40px;
}
#info_content #symptom_block div input{
	width:910px;
	height:35px;
	font-size: 20px;
}
#recipet_content{
	width:995px;
	height:600px;
	border: 2px solid #D4D4D4;
	margin-top:10px;
}
#recipet_content #recipet_top_block{
	width:995px;
	height:40px;
	font-size:20px;
	text-align:left;
	padding-left:10px;
}
#recipet_content #recipet_top_block input{
	width:290px;
	height:35px;
	font-size: 20px;
	margin-top:5px;
	margin-left:5px;
}
#recipet_content #recipet_left_block{
	width:640px;
	height:500px;
	border: 1px solid #D4D4D4;
	margin-top:10px;
	margin-left:10px;
	float:left;
}
#recipet_content #recipet_left_block table{
	font-size:16px;
	width:640px;
}
#recipet_content #recipet_left_block table th{
	background-color: #1E90FF;
	color:#fff;
	border-bottom: 1px solid #D4D4D4;
}
#recipet_content #recipet_left_block table td{
	text-align: center;
}
#recipet_content #recipet_left_block table td input{
	width:30px;
}
#recipet_content #recipet_left_block #add_button{
	color:#fff;
	background-color:#408080;
	border: none;
	border-radius:3px;
	cursor:pointer;
}
#recipet_content #recipet_left_block #add_button:hover{
	background-color:#316464;
}
#recipet_content #recipet_left_block #reduce_button{
	color:#fff;
	background-color:#ff8040;
	border: none;
	border-radius:3px;
	cursor:pointer;
}
#recipet_content #recipet_left_block #reduce_button:hover{
	background-color:#ff6215;
}
#recipet_content #recipet_left_block #move_button{
	color:#fff;
	background-color:#ff0000;
	border: none;
	border-radius:3px;
	cursor:pointer;
}
#recipet_content #recipet_left_block #move_button:hover{
	background-color:#d50000;
}
#recipet_content #recipet_right_block{
	width:330px;
	height:500px;
	border: 1px solid #D4D4D4;
	margin-top:10px;
	margin-right:10px;
	float:right;
}
#recipet_content #recipet_right_block #search_bar{
	float:left;
	margin-top:10px;
	margin-left:10px;
}
#recipet_content #recipet_right_block table{
	font-size:16px;
	width:330px;
}
#recipet_content #recipet_right_block table th{
	border-bottom: 1px solid #D4D4D4;
}
#recipet_content #recipet_right_block table td{
	text-align: center;
}
#recipet_content #recipet_right_block #add_btn{
	color:#fff;
	background-color:#408080;
	border: none;
	border-radius:3px;
	cursor:pointer;
}
#recipet_content #recipet_right_block #add_btn:hover{
	background-color:#326363;
}
#recipet_content #bottom_button{
	width:400px;
	float:right;
	margin-top:5px;
	margin-right:10px;
}
#recipet_content #bottom_button #save_btn{
	float:left;
	width:120px;
	height:40px;
	font-size:20px;
	color:#fff;
	background-color:#1E90FF;
	border: none;
	border-radius:10px;
	cursor:pointer;
}
#recipet_content #bottom_button #save_btn:hover{
	background-color:#0079f2;
}
#recipet_content #bottom_button #apply_btn{
	float:center;
	width:120px;
	height:40px;
	font-size:20px;
	color:#fff;
	background-color:#1E90FF;
	border: none;
	border-radius:10px;
	cursor:pointer;
}
#recipet_content #bottom_button #apply_btn:hover{
	background-color:#0079f2;
}
#recipet_content #bottom_button #over_btn{
	float:right;
	width:120px;
	height:40px;
	font-size:20px;
	color:#fff;
	background-color:#FFA500;
	border: none;
	border-radius:10px;
	cursor:pointer;
}
#recipet_content #bottom_button #over_btn:hover{
	background-color:#d58a00;
}