{include  file="./public/common/top.html"/}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<link href="__ROOT__/public/static/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<center>
<div id="news">
	<table>
		<tr>
			<td><h3>医院资讯</h3></td>
			<td><h3>医院通知</h3></td>
		</tr>
		<tr>
			<td>
				<ul>
					<li><a href="#">医院医疗专家组赴所罗门群岛开展医疗巡诊活动</a></li>
					<li><a href="#">大咖身份首次曝光!科普大赛超强阵容评审团.</a></li>
					<li><a href="#">五四表彰大会暨团旗飘飘风采展示晚会圆满举办</a></li>
					<li><a href="#">点赞!医院创伤骨科主任王芳获评“好医生”称号</a></li>
					<li><a href="#">呼吸与危重症医学科举办第21个世界哮喘日活动</a></li>
				</ul>
			</td>
			<td>
				<ul>
					<li><a href="#">通知：自即日起，就诊前请务必提前预约挂号。</a></li>
					<li><a href="#">本周五下午2点举行儿童健康讲座，欢迎家长参加。</a></li>
					<li><a href="#">免费心脏病筛查活动即将开始，详情请点击链接了解更多信息。</a></li>
				</ul>
			</td>
		</tr>
	</table>
</div>
<div id="content">
	<div id="sidebar">
		<h3>健康提示</h3>
		<ul>
			<li><a href="#">炎炎夏日,避免暴晒，注意中暑预防。</a></li>
			<li><a href="#">如何判断感冒和流感的区别？</a></li>
			<li><a href="#">多吃水果和蔬菜，保持饮食均衡。</a></li>
			<li><a href="#">每天进行适量的身体运动，保持健康。</a></li>
			<li><a href="#">做好心理调节，保持心理健康。</a></li>
			<li><a href="#">规律作息，保证充足的睡眠时间。</a></li>
			<li><a href="#">勤洗手，注意个人卫生，预防传染病。</a></li>
			<li><a href="#">戒烟限酒，避免不良生活习惯</a></li>
			<li><a href="#">定期体检，早发现早治疗疾病。</a></li>
		</ul>
	</div>
    <div id="img">
			<img src="__ROOT__/public/static/image/hospital.jpg">
    </div>
</div>
	{include file="./public/common/bottom.html"/}
</center>
</body>
</html>