{include  file="./public/common/top.html"/}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>医院管理系统 - 医院信息</title>
</head>
<style>
#hospital-info-page label {
	display: block;
	margin-bottom: 5px;
}

#hospital-info-page input[type="submit"] {
	width:120px;
	height:40px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
	border-radius:5px;
	margin-top:5px;
	margin-bottom:10px;
}

#hospital-info-page input[type="submit"]:hover {
	background-color: #45a049;
}
</style>
<body>
<center>

<div id="hospital-info-page">
    <h2>医院信息</h2>
    <form action="update_hospital_info.php" method="post" enctype="multipart/form-data">
    	<table>
    		<tr>
    			<td><label for="logo">医院Logo：</label></td>
    			<td><input type="file" name="logo" id="logo"></td>
    		</tr>
    		<tr>
    			<td><label for="hospital-name">医院名称：</label></td>
    			<td><input type="text" name="hospital-name" id="hospital-name"></td>
    		</tr>
    		<tr>
    			<td><label for="hospital-website">医院网址：</label></td>
    			<td><input type="text" name="hospital-website" id="hospital-website"></td>
    		</tr>
    		<tr>
			<td></td>
			<td><input type="submit" value="保存"></td>
			</tr>
    	</table>
    </form>
</div>

</center>
</body>
</html>