{include  file="./public/common/top.html"/}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>欢迎进入管理员页面</title>
</head>

<body>
<center>

<div id="hospital-info-page">
    <h2>医院信息</h2>
    <form action="update_hospital_info.php" method="post" enctype="multipart/form-data">
        <div>
            <label for="logo">医院Logo：</label>
            <input type="file" name="logo" id="logo">
        </div>
        <div>
            <label for="hospital-name">医院名称：</label>
            <input type="text" name="hospital-name" id="hospital-name">
        </div>
        <div>
            <label for="hospital-website">医院网址：</label>
            <input type="text" name="hospital-website" id="hospital-website">
        </div>
        <div>
            <input type="submit" value="保存">
        </div>
    </form>
</div>
</center>

</body>
</html>