<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="{:url('manage/submitMedicine')}" method="post" enctype="multipart/form-data">
ID<input type="text" name="medicineNo" value="YP202300" >
名称<input type="text" name="medName" value="维生素A" >
价格<input type="text" name="price" value="5" >
库存<input type="text" name="medLeft" value="200" >
用法<input type="text" name="medUsage" value="每次一片，一日三次" >
描述<input type="text" name="medDesc" value="无" >
成分<input type="text" name="medIngr" value="淀粉" >
图片<input type="file" name="file" >	
<input type=submit value="登录" style="width:120px;height:40px;color:#fff;background-color:#1E90FF;border:none;border-radius:10px;">
</form>
</body>
</html>