{include file="./public/common/top.html"/}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="__ROOT__/public/static/css/pay.css" rel="stylesheet"
	type="text/css">
<title>Insert title here</title>
</head>

<body>
	<center>

		<!DOCTYPE html>
		<html>
<head>
<title>缴费界面</title>
<script type="text/javascript" src="__ROOT__/public/static/js/jquery-1.4.2.js"></script>
<script>
//文档就绪事件开始
$(function(){
	$(".del").click(function(){	
	//alert($(this).attr("id"));
	//$(".del").parents("div").hide();
	var orderID = $(this).attr("id");
	$.post("{:url('pay/delete')}",{orderID:orderID},function(result){
	//	alert(result);
		if(result=='success'){
			$(".del").parents("div").hide();
			window.location.href = "{:url('pay/pay')}";
		}
	});
	});
});
</script>
</head>
<body>
	<div class="payment-list">
		{volist name='payment' id='payment'}
		<div class="card">
			<div id="payNo">缴费单号: {$payment.paymentNo}</div>
			{switch name="$payment.paymentState"} {case value="已缴费"}
			<div class="status paid">已缴费 - ￥{$payment.fee}</div>
			{/case} {case value="待缴费"}
			<div class="status pending">待缴费 - ￥{$payment.fee}</div>
			
			
			{/case} {case value='逾期未缴费'}
			<div class="status overdue">逾期未缴费 - ￥{$payment.fee}</div>
			{/case} {/switch}
			<div style="margin-top: 30px;">缴费类型: 门诊部缴费</div>
			<div style="margin-top: 10px;">缴费时间: {$payment.paymentDate}</div>
			{if $payment.paymentState=="待缴费"}
			<div>
			<font color="red"></font>&nbsp;&nbsp; <a class="del"
					href="javascript:void(0)" id="{$payment.paymentNo}"> <img
					src="__ROOT__/public/static/image/sc.jpg" width="69" height="19" />
				</a> &nbsp; <a href="{:url('pay/getpay')}?id={$payment.paymentNo}"> <img
					src="__ROOT__/public/static/image/zx.jpg" width="69" height="19"></a>
			</div>			
			{/if}

			{if $payment.paymentState=="已缴费" and $payment.status=="未评价"}
			<a href="{:url('pay/evaluate')}?docNo={$payment.docNo}&paymentNo={$payment.paymentNo}">评价</a>
			{/if}
			<div class="card-details">
				<h4>费用明细</h4>
				<p>项目1: 诊疗费用 ￥50</p>
				<p>项目2: 药品费用 ￥150</p>
			</div>
		</div>
		{/volist}

	
	</div>

	<script>
        // 获取缴费单列表
        var paymentList = document.querySelector(".payment-list");
        
        // 获取所有卡片
        var cards = paymentList.querySelectorAll(".card");
        
        // 为每个卡片添加点击事件监听器
        cards.forEach(function(card) {
            card.addEventListener("click", function() {
                // 切换卡片的活动状态
                card.classList.toggle("active");
            });
        });
    </script>
</body>
		</html>


	</center>

</body>

</html>