{include  file="./public/common/top.html"/}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="__ROOT__/public/static/css/depart.css" rel="stylesheet" type="text/css">
<title>Insert title here</title>
<script type="text/javascript"
	src="__ROOT__/public/static/js/jquery-1.8.3.min.js">
</script>

<script type="text/javascript">

function postInfo(){

	
	var ward = $("#ward").val()
	var bed = $("#bed").val()


	 $.ajax({
		  url: 'dealDepartdoc',
		  method: 'POST', // 根据需要选择请求方法，如 POST 或 GET
		  //dataType:'json',
		  data: { 
			  wardNo:ward,
			  bedNo:bed
		  }, 
		  success: function(response) {
		    // 处理成功响应
		    console.log('数据已成功传输到 Controller');
		    console.log('响应数据:', response);
		    alert("已保存")
		    
		  },
		  error: function(xhr, status, error) {
		    // 处理错误响应
		    console.error('发生错误:', error);
		    alert("保存失败，请不要重复提交")
		  }
		}); 
	//location.href='{:url('index/index')}'
	
}

</script>


</head>

<body>

<center>



<div id="info_content">
	<div id="info_block">
		<div>姓名:</div>
		<div><input type="text" name="patName" value="{$patInfo.patName}" disabled="disabled"></div>
	</div>
	<div id="info_block">
		<div>性别:</div>
		<div><input type="text" name="sex" value="{$patInfo.sex}" disabled="disabled"></div>
	</div>
	<div id="info_block">
		<div>电话号码:</div>
		<div><input type="text" name="telephone" value="{$patInfo.telephone}" disabled="disabled"></div>
	</div>
	<div id="info_block">
		<div>病案号:</div>
		<div><input type="text" name="patNo" value="{$patInfo.patNo}" disabled="disabled"></div>
	</div>
	<div id="info_long_block">
		<div>住址:</div>
		<div><input type="text" name="address" value="{$patInfo.address}" disabled="disabled"></div>
	</div>
	<div id="info_block">
		<div>主治医生:</div>
		<div><input type="text" name="DocNo" value="{$docInfo.docName}" disabled="disabled"></div>
	</div>
	<div id="info_block">
		<div>入院日期:</div>
		<div><input type="text" name="indepartDate" value="{$date}" disabled="disabled"></div>
	</div>
	<div id="info_block">
		<div>科室:</div>
		<div><input type="text" name="office" value="{$docInfo.officeNo}" disabled="disabled"></div>
	</div>
	<div id="info_block">
		<div>病房：</div>
		<div id="select">
			<select id="ward" >
			{volist name="wards" id="ward"}
			<option>{$ward}</option>
			{/volist}
			</select>
		</div>
	</div>
	<div id="info_block">
		<div>病床：</div>
		<div id="select">
			<select id="bed">
				<option>001</option>
				<option>002</option>
				<option>003</option>
			</select>
		</div>
	</div>
</div>
<div id="bottom_button">
	<button id="save_btn" onclick = "postInfo()">保存</button>
</div>

</center>

</body>

</html>