{include  file="./public/common/top.html"/}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="__ROOT__/public/static/css/treat.css" rel="stylesheet" type="text/css">
<title>Insert title here</title>
</head>

<body>
<center>

<div id="pat_content">
	{volist name="patInfo" id="data"}
		<div class="pat_div">
			<a href="">
			<img src="__ROOT__/public/static/patimg/{$data.picturem}" border="0"/>
			</a>
			<div id="pat_title_div">
				<a>{$data.patName}</a>
				<a>{$data.sex}</a>
				<!-- <a>{$data.patNo}</a> -->
			</div>
			<div id="pat_infm_div">电话：{$data.telephone}</div>
			<div id="pat_infm_div">病案号：{$data.patNo}</div>
			<div id="pat_infm_div">创建时间：{$data.bookingTime}</div>
			
			
			<div id>
				<div id="treat_div">
				<a href="{:url('recipet/recipet')}?patNo={$data.patNo}">接诊</a>
				</div>					
				<div id="infm_div">
				<a href="{:url('treat/patinfo')}?patNo={$data.patNo}">病人信息</a>
				</div>					
			</div>
		</div>
	{/volist}	
</div>
</center>

</body>

</html>