{include  file="./public/common/top.html"/}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>医院管理系统 - 科室信息</title>
</head>
<style>
#office-info-page label {
	display: block;
	margin-bottom: 5px;
}

#office-info-page input[type="submit"] {
	width:120px;
	height:40px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
	border-radius:5px;
	margin-top:5px;
	margin-bottom:10px;
}

#office-info-page input[type="submit"]:hover {
	background-color: #45a049;
}
</style>
<body>
<center>
<div id="office-info-page">
    <h2>科室信息</h2>
    <form action="{:url('manage/update_department_info')}" method="post">
    	<table>
    		<tr>
    			<td><label for="department-id">科室号：</label></td>
    			<td><input type="text" name="department-id" id="department-id"></td>
    		</tr>
    		<tr>
    			<td><label for="department-name">科室名称：</label></td>
    			<td><input type="text" name="department-name" id="department-name"></td>
    		</tr>
    		<tr>
    			<td><label for="department-doctor">负责医师：</label></td>
    			<td><input type="text" name="department-doctor" id="department-doctor"></td>
    		</tr>
    		<tr>
    			<td><label for="department-location">科室位置：</label></td>
    			<td><input type="text" name="department-location" id="department-location"></td>
    		</tr>
    		<tr>
				<td></td>
				<td><input type="submit" value="保存"></td>
			</tr>
    	</table>
    </form>
</div>
</center>
</body>
</html>